.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body {
    background-color: rgb(17, 17, 17);
    color: rgb(215, 243, 164);
    
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

header  {
    border: 2px solid rgb(105, 143, 70);
    display: flex;
    justify-content:space-between;
}

a {
    color: rgb(215, 243, 164);
    user-select: none;
    text-decoration: none;
}

a:hover {
    text-shadow:0 0 5px rgb(140, 199, 84),
    0 0 10px rgb(140, 199, 84),
    0 0 20px rgb(140, 199, 84) ;
}

a:active {
    text-shadow: none;
}

.menu {
    margin: 10px auto 0 auto;
    width: 85%;
    border: 1px solid rgb(105, 143, 70);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project {
    border: 1px solid rgb(105, 143, 70);
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 10px auto 0 auto;
}

.menu p {
    font-size: 2em;
    margin-bottom: 10px;
}

.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    text-align: left;
}

.project-item img {
    transform: scale(0.5);
    display: block;
    margin: 0; 
}




